<div ng-if="!list">
  Loading results...
</div>

<div ng-if="list.Response==='True'"><!-- Silly API !-->

  <img ng-src="http://imdb.wemakesites.net/api/1.0/img/?url={{ list.Poster }}" class="thumbnail animated flip" style="float:left; width: 150px; margin-right: 10px; -moz-animation-delay: 1s; -webkit-animation-delay: 1s;">

  <span style="font-size:20px;"><a href="http://imdb.com/title/{{ list.imdbID }}" target="_blank">{{ list.Title }}</a></span>, {{ list.Year }}<br>

  <strong>Released on:</strong> {{ list.Released }} ({{ list.Runtime }})<br><br>

  <p>{{ list.Plot }}<br></p>

  <p style="margin-top: 10px;">
    <span class="label label-primary">Directors:</span> {{ list.Director }}<br>
    <span class="label label-primary">Actors:</span> {{ list.Actors }}<br>
    <span class="label label-primary">Genre:</span> {{ list.Genre }}<br><br>
  </p>

  <p style="margin-top: 5px;">Ratings:<br>
    <strong>IMDb Rating</strong>: <span class="label label-success">{{ list.imdbRating }}</span><br>
    <strong>Rotten Tomatoes</strong>: <span class="label label-success">{{ list.tomatoRating }}</span>
  </p>

  <p style="margin-top: 15px;">
    <a ng-href="https://www.youtube.com/results?search_query={{ list.Title }}" target="_blank" class="btn btn-default btn-xs btn-info">Watch Trailers!</a> &nbsp;&nbsp;|&nbsp;&nbsp; 
    <a ng-href="http://www.opensubtitles.org/en/search2/sublanguageid-all/moviename-{{ list.Title }}" target="_blank" class="btn btn-default btn-xs btn-info">Get Subtitles!</a> &nbsp;&nbsp;|&nbsp;&nbsp; 
    <a ng-href="http://www.theost.com/search/custom/?key={{ list.Title }}" target="_blank" class="btn btn-default btn-xs btn-info">Hear Soundtracks!</a> &nbsp;&nbsp;|&nbsp;&nbsp; 
    <a ng-href="http://www.amazon.in/s/ref=nb_sb_noss_1?url=search-alias%3Ddvd&field-keywords={{ list.Title }}" target="_blank" class="btn btn-default btn-xs btn-info">Buy this movie!</a>
  </p>

  <br>
</div>
<div ng-if="list.Response==='False'">
  No results found.
</div>
